body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative', cursive;
    background-color: #f8f8f8;
    color: #333;
}

.split-screen {
    display: flex;
}

.left-panel {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.left-panel h1 {
    margin-bottom: 20px;
}

.left-panel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-panel li {
    margin-bottom: 10px;
}

.left-panel a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.left-panel a:hover {
    color: #ffcc29; /* Yellow */
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fancy-section {
    display: none;
    flex: 1;
    padding: 50px;
    text-align: center;
    background-color: #fff;
    color: #333;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.fancy-section .content {
    max-width: 600px;
    margin: 0 auto;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}


