body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", monospace;
    background-color: #f8f8f8;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc29; /* Yellow */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.fancy-section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    color: #333;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.fancy-section:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.fancy-section .content {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

